* {
    box-sizing: border-box;
}
  
body {
    font-family:'Work Sans', sans-serif;
    
}
.hvr-buzz-out{
    padding: 2%;
    border-radius: 30%;
    background-color: rosybrown;
    
}
.resultado{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
@media (max-width: 1199px) {
    .container {
      width: 100%;
    }
  }
